TUTORY_API_TOKEN=replace-locally
TUTORY_ACCOUNT=replace-locally
TUTORY_PASSWORD=replace-locally
KAIROS_DATA_KEY=generate-a-fernet-key-locally
KAIROS_DATA_DIR=/opt/data/kairos-reports
KAIROS_APPROVAL_MODE=required
KAIROS_RETENTION_MONTHS=12
KAIROS_TIMEZONE=America/Sao_Paulo
KAIROS_RUN_TIME=20:00
